REPO_NAME=                     # Name of the repository to be cloned/used (path: $HOME/repos/<REPO_NAME>)
OPENCODE_HOST_PORT=            # Port on the host machine where the OpenCode server will be exposed
OPENCODE_SERVER_USERNAME=      # Username for authenticating with the OpenCode server
OPENCODE_SERVER_PASSWORD=      # Password for authenticating with the OpenCode server